In [25]:
# import libs
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from bs4 import BeautifulSoup
import seaborn as sns

In [56]:
df = pd.read_csv('../IBRA_D.csv', sep=';')

In [63]:
df.rename(columns={"C�digo": "CODIGO", "A��o": "AÇAO"}, inplace=True)
df = df.iloc[:-1, :]

In [64]:
df.tail()

    CODIGO        AÇAO        Tipo  Qtde. Te�rica Part. (%)
205  VULC3   VULCABRAS  ON      NM     73.766.391     0,028
206  WEGE3         WEG  ON      NM  1.484.859.030     1,882
207  WEST3    WESTWING  ON      NM    108.526.910     0,016
208  WIZS3    WIZ S.A.  ON      NM     77.540.728     0,025
209  YDUQ3  YDUQS PART  ON      NM    300.833.122      0,26

In [67]:
Symbols = df['CODIGO'] + '.SA'

In [68]:
Symbols

0      RRRP3.SA
1      TTEN3.SA
2      ABCB4.SA
3      AERI3.SA
4      AESB3.SA
         ...
205    VULC3.SA
206    WEGE3.SA
207    WEST3.SA
208    WIZS3.SA
209    YDUQ3.SA
Name: CODIGO, Length: 210, dtype: object